<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>hallo</h1>
    <ul class="categories">
        <li>
            <button>ALL</button>
        </li>
    <% names.forEach(name => { %>
        <li>
            <button>
                <a href='/<%=name%>'><%=name%></a>
            </button>
        </li>
    <% }) %>
        <li>
            <button>ADD CATEGORY</button>
        </li>
    </ul>
    <div>
        <h1> CONTENT 
            <% if (Object.keys(items).length !== 0) { items.forEach(item => { %>
            <li>
                <button>
                    <a href='/<%=item[0]%>/<%=item[1]%>'><%= item[1] %></a>
                </button>
            </li>
            <% }) } %>
        </h1>
    </div>
</body>
</html>